<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="todo">Add New Todo</label>
          <input 
          type="text" 
          id="todo" 
          class="form-control"
          name="todo"
          ngModel
          required>
          <br>
          <button 
          class="btn btn-primary" 
          type="submit" 
          [disabled]="!f.valid">{{editMode?'Complete':'Add'}}</button>          
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12"> -->
          <!-- <button class="btn btn-success" type="submit">Add</button> -->
          
          <!-- <button 
            class="btn btn-danger" 
            type="button" 
            (click)="onCompleted()"
            *ngIf="editMode">Completed</button> -->
          <!-- <button class="btn btn-primary" type="button" (click)="onCompleted()">Completed</button> -->
        <!-- </div>
      </div> -->
    </form>
  </div>
</div>
